*, *::before, *::after {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: "Source Sans 3", serif;
    font-optical-sizing: auto;
    font-style: normal;
    background-color: #fafafa;
}

/* Header */
.site-header,
.logo-container,
nav ul {
    display: flex;
    align-items: center;
}

.logo-container h3,
nav ul,
p {
    margin: 0;
}

.site-header {
    padding: 1em;
    justify-content: space-between;
    background-color: white;
}

.logo-container {
    gap: 0.3125em;
}

.logo-container h3 {
    font-family: "Roboto", serif;
    font-size: 0.875rem;
}

.logo-container img {
    width: 23px;
    height: 23px;
}

nav ul {
    list-style: none;
    gap: 2em;
    font-size: 0.75rem;
}

/* Featured Post */
a, a:visited {
    text-decoration: none;
    color: inherit;
    cursor: pointer;
}

a:hover, a:active {
    border-bottom: 2px dotted black;
}

time,
nav ul {
    text-transform: uppercase;
}

.featured-post-container {
    background-image: linear-gradient(rgba(70, 130, 180, .8), rgba(178, 34, 34, .8)), url("https://images.unsplash.com/photo-1599837565318-67429bde7162?q=80&w=1287&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D");
    background-size: cover;
    background-position: center;
    padding: 5em 0 1.25em 0;
    background-blend-mode:multiply;
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-areas: 
        ".... .... .... .... .... ...."
        "desc desc desc desc .... ....";
}

.featured-post-container h2 {
    font-size: 2rem;
    line-height: 1.08;
    margin: 0.3125em 0;
}

.featured-article {
    grid-area: desc;
}

.featured-article,
.full-feature-article,
.about-me-container {
    padding: 1.25em;
}

.featured-post-container h2,
.featured-post-container p,
.featured-post-container time {
    color: white;
}

@media (min-width: 1024px) {
    .grid-container {
        grid-template-rows: repeat(2, 1fr);
        grid-template-areas: 
        ".... .... .... .... .... ...."
        "desc desc desc desc .... ....";
    }
}

/* Recent Posts Grid */
header,
.posts-section,
.grid-container,
.post-content-container {
    max-width: 1000px;
    margin: auto;
}

.posts-section h4 {
    text-align: center;
    margin-top: 2.5em;
}

.recent-posts-container {
    display: grid;
    grid-template-columns: 1fr;
    gap: 2.5em;
    margin: 2.125em 1.25em;
}

.recent-posts-container img {
    width: 100%;
    aspect-ratio: 3 / 2;
    margin-bottom: 1em;
    object-fit: cover;
    border-radius: 0.1875em;
}

.recent-posts-container article h3 {
    font-size: 1.5rem;
    line-height: 1.08;
    margin: 0.416em 0;
}

@media (min-width: 670px) {
    .recent-posts-container{
        grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    }
}

/* View More or Less */
.recent-posts-container article:nth-child(n+7) {
    display: none;
}

.view-more-btn {
    background-color: transparent;
    border: none;
    text-decoration: underline;
    font-size: 1rem;
    font-weight: 600;
    width: 100%;
    margin: auto;
    padding: 0 0 2.5em 0;
    cursor: pointer;
}

/* Blog Post Page */
.full-feature-article,
.full-feature-header,
.body-text,
.text {
    display: flex;
    flex-direction: column;
}

.full-feature-article {
    row-gap: 2em;
}

.full-feature-header,
.body-text,
.about-me-container {
    row-gap: 1em;
    max-width: 800px;
    margin: auto;
}

h1 {
    font-size: 2rem;
    margin: 0;
    letter-spacing: -0.03;
    line-height: 1.08;
}

.full-feature-article p {
    font-size: 1rem;
    line-height: auto;
}

.full-feature-article img {
    object-fit: cover;
    width: 100%;
    aspect-ratio: 4/3;
}

.body-text h4 {
    margin: 0;
}

/* About Me */
.about-me-header {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 3.125em;
    margin-top: 1.25em;
    gap: 1.5em;
}

.profile-pic {
    width: 182px;
    height: 182px;
    border-radius: 50%;
    object-fit: cover;
}

.text {
    max-width: 550px;
    row-gap: 1em;
}

@media (min-width: 811px) {
    .about-me-header {
        margin-top: 4em;
    }
}

/* Footer */
footer {
    font-size: 0.75rem;
    text-align: center;
    background-color: #202020;
    color: white;
    padding: 3em 1em;
    line-height: 1.75;
}

/* Alternative Featured Image : https://images.unsplash.com/photo-1599837565318-67429bde7162?q=80&w=1287&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D 

https://images.unsplash.com/photo-1528372444006-1bfc81acab02?q=80&w=1335&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D*/